In [35]:
# add Pandas Library

import pandas as pd

In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School","Wilson High School","Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [ {"High School": "Griffin", "Type":"District"}, {"High School": "Figueroa", "Type": "District"}, {"High School": "Wilson", "Type": "Charter"}, {"High School": "Wright", "Type": "Charter"}]

for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [8]:
# SERIES (PANDAS), which is a one-dimensional, lavbeld array capable of holding any data type. This means the date is linear and has an index that acts as a key in a dictionsary. 
# list of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School",
                "Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", 
                "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
# create a pandas series from a list.
school_series = pd.Series(high_schools)
school_series
# SKILL DRILL: Iterate through the school_series and print out each high school.
# for school in school_series:
#     print(school)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [11]:
# DATAFRAME (PANDAS), which is a two-dimensional labeled data structure, like a dictionary, which rows and columsn of potentialy differn data types such as
    #strings, intergers, and floats (decimal points numbers), where data is aligned in a table
# a dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"}, 
                     {"School ID": 1, "school_name": "Figueroa High School", "type": "District"}, 
                     {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"}, 
                     {"School ID": 3, "school_name":"Hernandez High School", "type": "District"}, 
                     {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
# create a pandas DataFrame from a dictionary
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [38]:
#COVERT A LIST OR SERIES TO A DATA FRAME (DICTIONARY)

#three separate list of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school = ["District", "District", "Charter", "District", "Charter"]

# create a python dictionary 
high_schools_dict = {'School ID' :school_id, "School Name": school_name, "Type of School": type_of_school}

#intialize a new DataFram using a dictionary
schools_dict_df = pd.DataFrame(high_schools_dict)

#print the data frame
schools_dict_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [42]:
#COVERT A LIST OR SERIES TO A DATA FRAME (LIST)

#three separate list of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school = ["District", "District", "Charter", "District", "Charter"]

# intialize a new DataFrame using list.
schools_df = pd.DataFrame()

# add the list to a new DataFrame.
    #the standard format for create a key in a dictionary is to put the key in single or double quotes and insdie brackets.
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school

#print the data frame
schools_df

   School ID            School Name Type of School
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [43]:
# THE COLUMNS ATTRIBUTE
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [45]:
# THE INDEX ATTRIBUTE
school_df.index
#running this cell outputs a RangeIndex that first and last row of thie index value as "step=1", or how foten the index increments

RangeIndex(start=0, stop=5, step=1)

In [46]:
#The Values Attribute = array of values without the column names
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)